{% extends 'emails/base.html.twig' %}
{% import "emails/macros.html.twig" as macros %}

{% block content %}
    <container>
        <!-- Header -->
        <row class="header">
            <columns>
                <h1 class="text-center">{{ 'email.invitation.newRequest.title' | trans({
                        name
                    }, null, language) }}</h1>
            </columns>
        </row>
        <row>
            <columns small="6">
                <callout class="medium-gray text-left">
                    {{ message|raw|nl2br }}
                </callout>
            </columns>
        </row>
    </container>
{% endblock %}