{% extends 'emails/base.html.twig' %}
{% import "emails/macros.html.twig" as macros %}

{% block content %}
    <container>
        <!-- Header -->
        <row class="header">
            <columns>
                <h1 class="text-center">{{ 'email.invitation.newInvitation.welcome' | trans({}, null, language) }}</h1>
            </columns>
        </row>

        <!-- Main Content -->
        <row>
            <columns small="12" class="text-center">
                <p>{{ 'email.invitation.newInvitation.description' | trans({}, null, language) }}</p>
                <p><strong>{{ 'email.invitation.newInvitation.instruction' | trans({}, null, language) }}</strong></p>
            </columns>
        </row>

        <!-- Invitation Button -->
        {{ macros.button(invite_link, 'email.invitation.newInvitation.join' | trans({}, null, language)) }}

        <!-- Footer -->
        <row class="footer text-center">
            <columns>
                <p>{{ 'email.invitation.newInvitation.footer' | trans({}, null, language) }}</p>
            </columns>
        </row>
    </container>
{% endblock %}