{% extends 'emails/base.txt.twig' %}
{% block content %}
{{ 'email.invitation.newInvitation.welcome'|trans({}, null, language) }}
{{ 'email.invitation.newInvitation.description'|trans({}, null, language) }}
{{ 'email.invitation.newInvitation.instruction'|trans({}, null, language) }}
{{ 'email.invitation.newInvitation.join'|trans({}, null, language) }}: {{ invite_link }}
{% endblock %}
