{% extends 'emails/base.html.twig' %}
{% import "emails/macros.html.twig" as macros %}

{% block content %}
    <container>
        <!-- Main Content -->
        <row>
            <columns small="12" class="text-center">
                {{ message|nl2br|raw }}
            </columns>
        </row>

        <!-- Invitation Button -->
        {{ macros.button(invite_link, 'email.invitation.newCircleInvitation.join' | trans({}, null, language)) }}

        <!-- Footer -->
        <row class="footer text-center">
            <columns>
                <p>{{ 'email.invitation.newCircleInvitation.footer' | trans({}, null, language) }}</p>
            </columns>
        </row>
    </container>
{% endblock %}
