{% extends 'emails/base.html.twig' %}

{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h1 class="text-center">{{ 'email.greetings'|trans({'userName': user.firstname}) }}</h1>
                <div>
                    {{ 'email.material.booking.canceledByMaterialDeletion.body'|trans({'gender': deletedBy.gender, 'userName': deletedBy.firstname, 'materialName': booking.material.name, 'bookingDate': booking.startDate|date('d/M')})|raw }}
                </div>
            </columns>
        </row>
    </container>
{% endblock %}
