{% extends 'emails/base.txt.twig' %}

{% block content %}
    {{ 'email.greetings'|trans({'name': user.firstname}) }}
    {{ 'email.material.booking.canceledByMaterialDeletion.body'|trans({'gender': deletedBy.gender, 'name': deletedBy.firstname, 'material': booking.material.name, 'bookingDate': booking.startDate|date('d/M')})|striptags|nl2br }}
{% endblock %}