{% extends 'emails/base.html.twig' %}
{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="10"></spacer>
                <h1 class="text-center">{{ 'email.user.register.confirm.greetings'|trans({'userName': user.firstname|striptags}, null, user.settings.language)|raw }}</h1>
                <row>
                    <columns small="8" class="text-center">
                        {{ 'email.user.register.confirm.body'|trans({}, null, user.settings.language)|raw }}
                    </columns>
                </row>
                <spacer size="10"></spacer>
                <row>
                    <columns small="3"/>
                    <columns small="6">
                        <callout class="medium-gray text-center">
                            <font size=50>{{ code }}</font>
                        </callout>
                    </columns>
                    <columns small="3"/>
                </row>
            </columns>
        </row>
    </container>
{% endblock %}
