{% extends 'emails/base.txt.twig' %}
{% block content %}
    {{ 'email.user.register.confirm.greetings'|trans({'userName': user.firstname}) }}
    {{ 'email.user.register.confirm.body'|trans|raw }}
    {{ code }}
{% endblock %}