{% extends 'emails/base.txt.twig' %}
{% block content %}
    {{ 'email.user.register.welcome.greetings'|trans({'userName': user.firstname}, null, user.language) }}
    {{ 'email.user.register.welcome.body'|trans({}, null, user.language)|replace({"<br/>":"\n"})|striptags }}
    {{ 'email.user.register.welcome.cheers'|trans({}, null, user.language)|replace({"<br/>":"\n"})|striptags }}
{% endblock %}
