{% extends 'emails/base.html.twig' %}
{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="10"></spacer>
                <h1 class="text-center">{{ 'email.user.register.welcome.greetings'|trans({'userName': user.firstname|striptags}, null, user.language)|raw }}</h1>
                <row>
                    <columns small="8" class="text-center">
                        {{ 'email.user.register.welcome.body'|trans({}, null, user.language)|raw }}
                    </columns>
                </row>
                {{ 'email.user.register.welcome.cheers'|trans({}, null, user.language)|raw }}
            </columns>
        </row>
    </container>
{% endblock %}
