{% extends 'emails/base.html.twig' %}
{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="10"></spacer>
                <h1 class="text-center">{{ 'email.contact.greetings'|trans({}, null, language) }}</h1>
                <row>
                    <columns small="8" class="text-center">
                        {{ 'email.contact.subtitle'|trans({'instanceUrl': instanceUrl}, null, language)|raw }}
                    </columns>
                </row>
                <spacer size="10"></spacer>
                <row>
                    <columns small="3"/>
                    <columns small="6">
                        <callout class="medium-gray text-left">
                            <ul>
                                {% if contact.name is defined %}
                                <li>
                                    <strong>
                                        {{ 'email.contact.name'|trans({}, null, language) }}
                                    </strong>: {{ contact.name }}
                                </li>
                                {% endif %}
                                {% if contact.email is defined %}
                                <li>
                                    <strong>
                                        {{ 'email.contact.email'|trans({}, null, language) }}
                                    </strong>: {{ contact.email }}
                                </li>
                                {% endif %}
                                {% if contact.message is defined %}
                                <li>
                                    <strong>
                                        {{ 'email.contact.message'|trans({}, null, language) }}
                                    </strong>
                                    : {{ contact.message|raw|nl2br }}
                                </li>
                                {% endif %}
                                {% if contact.newsletterOptIn is defined %}
                                <li>
                                    <strong>
                                        {{ 'email.contact.newsletterOptIn'|trans({}, null, language) }}
                                    </strong>
                                    : {{ contact.newsletterOptIn is same as(true)? 'global.yes'|trans({}, null, language) : 'global.no'|trans({}, null, language) }}
                                </li>
                                {% endif %}
                            </ul>
                        </callout>
                    </columns>
                    <columns small="3"/>
                </row>
            </columns>
        </row>
    </container>
{% endblock %}
