{% extends 'emails/base.txt.twig' %}
{% block content %}
{{ 'email.contact.greetings'|trans({instanceUrl}, null, language) }}

{{ 'email.contact.subtitle'|trans({}, null, language)|raw }}

{% if contact.name is defined %}{{ 'email.contact.name'|trans({}, null, language) }}: {{ contact.name }}{% endif %}
{% if contact.email is defined %}{{ 'email.contact.email'|trans({}, null, language) }}: {{ contact.email }}{% endif %}
{% if contact.message is defined %}{{ 'email.contact.message'|trans({}, null, language) }}: {{ contact.message }}{% endif %}
{% if contact.newsletterOptIn is defined %}{{ 'email.contact.newsletterOptIn'|trans({}, null, language) }}: {{ contact.newsletterOptIn is same as(true) ? 'global.yes'|trans({}, null, language) }}{% endif %}
{% endblock %}
