{% block lead %}
{{ email.subject }}
{% endblock %}

{% block content %}
{{ content }}
{% endblock %}


{% block action %}
{% if actions is defined %}
{% for action in actions %}
{{ action.text }}: {{ action.url }}
{% endfor %}
{% endif %}
{% endblock %}
