{% import "emails/macros.html.twig" as macros %}
{% set language = language ?? defaultLocale %}
{% apply inky_to_html|inline_css %}
    <html>
    <head>
        <style>
            {% block style %}
            {{ source("@email/zurb_2/main.css") }}
            {{ source("@email/zurb_2/notification/local.css") }}
            {% set linkColor = '#FFDE59' %}
            h1 {
                font-size: 25px;
            }
            table.button table td {
                background: {{ linkColor }};
                border: 0;
                border-radius: 0.5rem;
            }
            a {
                color: {{ linkColor }};
            }
            table.menu td.menu-item a,
            table.menu th.menu-item a {
                color: {{ linkColor }};
            }
            small {
                font-size: 80%;
                color: #aaa;
            }
            .button {
                background-color: {{ linkColor }};
            }
            {% endblock %}
        </style>
    </head>
    <body>
    <spacer size="32"></spacer>
    <wrapper class="body">
        <container>
            <spacer size="16"></spacer>
            <row>
                <columns large="12" small="12">
                    {% block lead %}
                        <center>
                            <img src="{{ email.image('@images/emails/banner-' ~ language ~ '.png') }}"/>
                        </center>
                    {% endblock %}
                    {% block content %}{% endblock %}

                    {% block action %}
                        {% if actions is defined %}
                            <spacer size="16"></spacer>
                            {% for action in actions %}
                                {{ macros.button(action.url, action.text) }}
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                </columns>
            </row>
            <wrapper class="secondary">
                <spacer size="16"></spacer>
                {% block footer %}
                    <row>
                        <columns small="12" large="6">
                            {% block footer_content %}
                                <p>
                                    <small>{{ 'email.footer.support'|trans({'email': supportEmail}, null, language)|raw }}</small>
                                </p>
                            {% endblock %}
                        </columns>
                    </row>
                {% endblock %}
            </wrapper>
        </container>
    </wrapper>
    </body>
    </html>
{% endapply %}
