{% macro button(link, label) %}
    <row class="text-center">
        <columns small="12">
            <table class="button rounded-button" style="border-radius: 50px;">
                <tr>
                    <td style="text-align:center;">
                        <table>
                            <tr>
                                <td style="border-radius: 50px;"><a href="{{ link }}" style="border-radius: 50px;">{{ label }}</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
{% endmacro %}