{% extends 'emails/base.html.twig' %}
{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="10"></spacer>
                <h1 class="text-center">{{ 'email.greetings'|trans({'userName': user.firstname|striptags}, null, user.settings.language)|raw }}</h1>
                <row>
                    <columns small="8" class="text-center">
                        {{ 'email.forgotPassword.body'|trans({}, null, user.settings.language)|raw }}
                    </columns>
                </row>
            </columns>
        </row>
    </container>
{% endblock %}
