{% extends 'emails/base.txt.twig' %}
{% block content %}
    {{ 'email.greetings'|trans({'userName': user.firstname|striptags}, null, user.settings.language) }}!
    {{ 'email.forgotPassword.body'|trans({}, null, user.settings.language)|replace({"<br/>":"\n"})|striptags }}
{% endblock %}