{% extends 'emails/base.html.twig' %}

{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h1 class="text-center">{{ 'email.greetings'|trans({'userName': firstname}, null, language) }}!</h1>
                <spacer size="5"></spacer>
                <div>
                    {{ 'email.howAreYou'|trans({}, null, language) }}
                    {{ 'email.material.booking.applied.body'|trans({'gender': applicant.gender, 'userName': applicant.firstname, 'materialName': material.name}, null, language)|raw }}
                </div>
            </columns>
        </row>
    </container>
{% endblock %}