{% extends 'emails/base.txt.twig' %}
{% block content %}
    {{ 'email.greetings'|trans({'userName': firstname}) }}!
    {{ 'email.material.booking.applied.body'|trans({'gender': applicant.gender, 'userName': applicant.firstname, 'materialName': material.name})|replace({"<br/>":"\n"})|striptags }}
{% endblock %}