{% extends 'emails/base.txt.twig' %}
{% block content %}
    {{ 'email.greetings'|trans({'userName': recipient.firstname}) }}!
    {{ ('email.material.booking.canceledBy' ~ canceledBy ~ '.body')|trans({'gender': initiatorUser.gender, 'name': initiatorUser.firstname, 'material': material.name})|replace({"<br/>":"\n"})|striptags }}
{% endblock %}