{% extends 'emails/base.html.twig' %}

{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h1 class="text-center">{{ 'email.greetings'|trans({'userName': recipient.firstname}, null, language) }}!</h1>
                <spacer size="5"></spacer>
                <div>
                    {{ ('email.material.booking.canceledBy' ~ canceledBy ~ '.body')|trans({'gender': initiatorUser.gender, 'userName': initiatorUser.firstname, 'materialName': material.name}, null, language)|raw }}
                </div>
            </columns>
        </row>
    </container>
{% endblock %}