{% extends 'emails/base.html.twig' %}

{% block content %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h1 class="text-center">{{ 'email.greetings'|trans({'userName': applicant.firstname}, null, language) }}!</h1>
                <spacer size="5"></spacer>
                <div>
                    {{ 'email.howAreYou'|trans({}, null, language) }}<br/>
                    {{ 'email.material.booking.confirmed.body'|trans({
                        'gender': owner.gender,
                        'userName': owner.firstname,
                        'materialName': material.name,
                        'period': booking.startDate|format_datetime('short', 'none') ~
                            ' ➡️ ' ~ booking.endDate|format_datetime('short', 'none')
                    }, null, language)|raw }}<br/>
                    {{ 'email.material.booking.confirmed.replyToMail'|trans({}, null, language)|raw }}
                </div>
            </columns>
        </row>
    </container>
{% endblock %}