{% extends 'emails/base.txt.twig' %}
{% block content %}
    {{ 'email.greetings'|trans({'userName': applicant.firstname}) }}!
    {{ 'email.material.booking.confirmed.body'|trans({
                        'gender': owner.gender,
                        'userName': owner.firstname,
                        'materialName': material.name,
                        'period': booking.startDate|format_datetime('short', 'none') ~
                            ' ➡️ ' ~ booking.endDate|format_datetime('short', 'none')
                    }, null, language)|replace({"<br/>":"\n"})|striptags }}
{% endblock %}